{% extends "base.html" %}

{% block title %}
   タイトル
{% endblock %}

{% block content %}

   <h1>{{ area.area_name }}の店舗一覧</h1>
   
   <div class="row row-cols-1 row-cols-md-4 g-4">
       {% for Store in object_list %}
       <div class="col">
           <div class="card" style="width: 18rem;">
               <!-- 店舗の画像を表示するimgタグ -->
               <img src="{{ Store.image_url }}" class="card-img-top" alt="{{ Store.store_name }}">

               <div class="card-body">
                   <h5 class="card-title">{{ Store.store_name }}</h5>
                   <p class="card-text">{{ Store.address }}</p>
                   <p class="card-text">{{ Store.price }} 円</p>

                   <!-- Google Maps 埋め込み -->
                   <div class="map-container" style="height: 200px;">
                       <iframe 
                           src="https://www.google.com/maps/embed/v1/place?q={{ Store.store_name }}&key=AIzaSyA5KE6CMVwnPELIUmcN6776I6R2pUcRPLU&zoom=15" 
                           width="100%" 
                           height="100%" 
                           style="border:0;" 
                           allowfullscreen="" 
                           loading="lazy">
                       </iframe>
                   </div>

                   <!-- カード下部のボタン -->
                   <a class="btn btn-primary" href="/store/{{ area.area_id }}/{{ store.store_id }}/">
                    詳細を見る
                   </a>
               </div>
           </div>
       </div>
       {% endfor %}
   </div>

{% endblock %}


